<!DOCTYPE html>
<html>
  <head>
    <title>Trending PHP</title>
    <link rel="stylesheet" type="text/css" href="./assets/semantic-ui/semantic.min.css">
  </head>
  <body>

    <div class="ui inverted vertical masthead center aligned segment">

      <div class="ui text container">
        <h1 class="ui inverted header">
        Trending PHP repository
        </h1>
        <h2>List of the most starred PHP repositories on GitHub</h2>
      </div>

    </div>
    
    <div class="ui hidden divider"></div>

   <div class="ui container">
      <table id="repos-table" class="ui celled table sortable">
        <thead>
          <tr>
            <th class="no-sort"></th>
            <th>Name</th>
            <th class="number">Stars</th>
            <th class="no-sort">Description</th>
          </tr>
        </thead>
        <tbody id="results-container">
          <!-- data goes here -->
        </tbody>
        <tfoot class="full-width">
          <tr>
            <th colspan="4">
              <div id="refreshButton" class="ui right floated small primary labeled icon button">
                <i class="refresh icon"></i> update
              </div>
            </th>
          </tr>
        </tfoot>
      </table>
    </div>
    <div id="loader-container" class="ui dimmer" style="position:fixed;">
      <div class="ui text loader">Loading</div>
    </div>
    <!-- SCRIPTS -->
    <script src="./assets/jquery-3.3.1.min.js"></script>
    <script src="./assets/semantic-ui/semantic.min.js"></script>
    <script src="./assets/tablesort.js"></script>
    <script src="./assets/moment.min.js"></script>

    <!-- TEMPLATING ENGINE --> 
    <script src="./assets/handlebars-v4.0.11.js"></script>
    <!-- TEMPLATE -->
    <script id="entry-template" type="text/x-handlebars-template">
      {{#each results}}
      <tr data-repo=>
        <td>
          <div class="ui buttons">
            <div class="ui animated fade button modal-trigger" data-modalid="{{id}}">
              <div class="hidden content">Details</div>
              <div class="visible content">
                <i class="eye icon"></i>
              </div>
            </div>
        </td>
        <td>{{name}}</td>
        <td>{{stars}}</td>
        <td>{{description}}</td>
      </tr>
      <div id="modal-{{id}}" class="ui modal">
        <i class="close icon"></i>
        <div class="header">
          {{name}} (ID: {{repoid}})
        </div>
        <div class="content">
          <div class="ui header">
          </div>
          <div class="description">
            <p>
              <i class="star icon"></i>
              {{stars}}
            </p>
            <p>{{description}}</p>
            <p>URL: <a href="{{url}}" target="_BLANK">{{url}}</a>

              <p class="ui">Created: {{formatTime created_at}}</p>
              <p class="ui">Last commit: {{formatTime pushed_at}}</p>

            <p>
              <a href="{{url}}" class="ui right labeled icon button" target="_BLANK">
                View on Github
                <i class="github icon"></i>
              </a>
            </p>
          </div>
        </div>
        <div class="actions">
          <div class="ui cancel button">
            Close
          </div>
        </div>
      </div>
      {{else}}
        <p class="empty">No data. try to update.</p>
      {{/each}}
    </script>
    <!-- MAIN SCRIPT -->
    <script src="./assets/main.js"></script>
  </body>
</html>